/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/beta
/bucket
/public/error_log
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.jpg
*.csv
/.idea
/.vscode
.user.ini
.htaccess
php.ini
*error_log*
